.title {
    text-align: center;
    font-size: 50px;
    text-decoration: overline underline;
    color: magenta;
}
body {
    background-color: lightblue;
}
nav a {
    font-size: 24px;
}
.artifact_image {
    width: 200px;
    border: thick double black;
    height: 200px;
}
